@charset "utf-8";

a { text-decoration: none; }

html { position: relative; min-height: 100%; background-image: url(subtlepatterns_so-white.png); }
body { padding: 0 0.2rem 6rem 0.2rem; }
@media(min-width: 980px) { body { padding: 0 3rem 6rem 3rem; } }

.site-header, .site-header a { color: #ff4136; font-size: 2rem; }
.site-header-brand:before { content: '☀'; display: inline-block; width: 5rem; font-size: 4rem; line-height: 4rem; vertical-align: top; color: #ffdc00; text-shadow: -2px 2px #cc0; }
.site-header-subtitle { margin: -1rem 0 2rem 5rem; font-size: 1.2rem; }

article { max-width: 60rem; }
article .pure-img { display: inline-block; }
article a { color: #0074d9; }
article pre *, article code * { font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace !important; }
article blockquote { margin: 0 0.3rem; padding: 0.1rem 1rem; border-left: solid 0.3rem #aaaaaa; }

.site-post-content + .site-post-discuss, .site-post-content + .site-post-tags { margin-top: 4rem; }
.site-post-discuss a { color: #2ecc40; margin-left: 0.4rem; }
.site-post-tags a { color: #f012be; margin-left: 0.2rem; }

.site-paginator { margin: 2rem 0; }

.site-sidebar { box-sizing: border-box; }
@media(min-width: 1024px) { .site-sidebar { padding-left: 2rem; } }
.site-sidebar h3 { margin: 2rem 0 0 0; color: #666666; font-size: 1.5rem; text-transform: uppercase; }
.site-sidebar ul { list-style: none; margin-left: 0; padding: 0; }
.site-list li { line-height: 2rem; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.site-list a { color: #0074d9; }
.site-labels li { display: inline-block; line-height: 0.8rem; margin: 0.1rem; padding: 0.2rem; border-radius: 0.4rem; }
.site-archives li { background: #ffed7f; }
.site-tags li { background: #fab7eb; font-size: 0.8rem; }
.site-labels a { color: #111111; }
.site-labels small:before { content: '('; }
.site-labels small:after { content: ')'; }

.site-footer { position: absolute; right: 0; bottom: 0; left: 0; padding: 1rem 3rem 1rem 3rem; }

/* adapted from spectre.css */
:lang(zh) { font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","Hiragino Kaku Gothic Pro",Meiryo,"Malgun Gothic","Helvetica Neue",sans-serif; }
:lang(zh) ins, :lang(zh) u { border-bottom: .1rem solid; text-decoration:  none; }
:lang(zh) del + del, :lang(zh) del + s, :lang(zh) ins + ins, :lang(zh) ins + u, :lang(zh) s + del, :lang(zh) s + s, :lang(zh) u + ins, :lang(zh) u + u { margin-left: .125em; }
