<aside class="site-archives">
<h3>Archives</h3>
<ul class="site-labels">
<%
const yearPosts = new Map();
site.posts.each((post) => {
  const year = post.date.year();
  yearPosts.set(year, (yearPosts.get(year) ?? 0) + 1);
});
const years = Array.from(yearPosts.keys());
years.sort((a, b) => b - a);
years.forEach((year) => { -%>
<li><a href="<%- url_for(config.archive_dir+'/'+year+'/') %>"><%= year %> <small><%= yearPosts.get(year) %></small></a></li>
<% }) %>
</ul>
</aside>
