<article<%- post.lang ? ' lang="' + post.lang + '"' : '' %> class="<%= post.article_class %>">

<h1>
<%_ if (index) { -%>
<a href="<%- url_for(post.path) %>"><%= post.title %></a>
<%_ } else { -%>
<%= post.title %>
<%_ } -%>
</h1>
<div class="site-byline">
<address><%= post.author || config.author %></address>
<a href="<%- url_for(post.path) %>"><time datetime="<%= date_xml(post.date) %>"><%= date(post.date, config.date_format) %></time></a>
<% if (post.edited) { %>last updated <time datetime="<%= date_xml(post.edited) %>"><%= date(post.edited, config.date_format) %></time><% } -%>
</div>

<% if (index && post.excerpt) { -%>
<div class="site-post-excerpt">
<%- post.excerpt %>
<% if (post.excerpt != post.content) { %>
<div class="site-readmore"><a href="<%- url_for(post.path) %>">(read more)</a></div>
<% } %>
</div>
<% } else { -%>
<div class="site-post-content">
<%- post.content %>
</div>
<%- partial('_partial/discuss', {post}) %>
<% if (post.tags.length) { %>
<p class="site-post-tags">
<%= post.lang === 'zh' ? '相关标签：' : 'Tags:' %>
<%- list_tags(post.tags, {show_count:false, style:'', separator:' '}) %>
</p>
<% } -%>
<% } %>

</article>
