<% if (post.discuss && post.discuss.length) { %>
<p class="site-post-discuss">
<%= post.lang === 'zh' ? '参与讨论：' : 'Join the discussion:' %>
<% for (const link of post.discuss) { -%>
<a href="<%= link %>" rel="nofollow" class="site-discuss"><%= (() => {
  const uri = new URL(link);
  const TABLE = {
    "dev.to": "DEV Community",
    "lowendtalk.com": "LowEndTalk",
    "mdgps.org": "Maryland Geocaching Society",
    "reddit.com": () => {
      if (uri.pathname.startsWith("/r/")) {
        return uri.pathname.split("/").slice(0, 3).join("/");
      }
      return "Reddit";
    },
    "shuiyuan.sjtu.edu.cn": "上海交通大学水源社区",
    "lowendspirit.com": "LowEndSpirit",
    "twitter.com": "Twitter",
    "hackster.io": "Hackster",
  };
  const host = uri.hostname.replace(/^www\./, "");
  const found = TABLE[host];
  if (typeof found === "function") {
    return found();
  } else if (typeof found === "string") {
    return found;
  }
  return host;
})() %></a>
<% } -%>
</p>
<% } -%>
