<footer class="site-footer pure-g">
<div class="pure-u-1">&copy;<%= new Date().getFullYear() %> yoursunny.com</div>
</footer>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5B4SHKZHVM"></script><script>window.dataLayer=[];function gtag(){dataLayer.push(arguments);}if(location.hostname=="yoursunny.com"){gtag("js",new Date());gtag("config","G-5B4SHKZHVM");}</script>
