<div class="site-header pure-g">
<div class="site-header-title pure-u-1">
<a href="/" class="site-header-brand">yoursunny</a>
<a href="/t/" class="site-header-section">blog</a>
</div>
<div class="pure-u-1 site-header-subtitle">
computer, Internet, and life
</div>
</div>
