<!DOCTYPE html>
<meta charset="utf-8">
<title><%=
is_year() ? page.year + ' - ' + config.title :
is_tag() ? page.tag + ' - ' + config.title :
page.title || config.title
%></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- (is_home() && page.current == 1) || is_post() ? '' : '<meta name="robots" content="noindex">' -%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/3.0.0/pure-min.css" integrity="sha512-X2yGIVwg8zeG8N4xfsidr9MqIfIE8Yz1It+w2rhUJMqxUwvbVqC5OPcyRlPKYOw/bsdJut91//NO9rSbQZIPRQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/3.0.0/grids-responsive-min.css" integrity="sha512-CCCLMVkN2BjfasRRbOIGDKhZa7gdWD93ttxHs0Z2UJB+jSqGPTcM4tibmV3GLxO2YkToFwsI36ivMvHw1KX+pg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/lioshi.min.css" integrity="sha512-txLHZICNjSwjUE80DKnPyZ74HB5+Zc1Bzs8L2qjsrB21L1Bt91fFTCIYrd3vAo6YvaOl8CWjkMOXNZ+8PbP32Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<%- css('assets/style') -%>
<% let scoped_style = is_post() ? page.scoped_style : page.posts.toArray().map(post=>post.scoped_style).join('');
   if (scoped_style) { %>
<style><%- scoped_style %></style>
<% } -%>
<% if (is_post()) {
     let content = page.content; page.content = ''; %>
<%- open_graph({ image:page.image, description:' ', updated:page.edited??false, url:url.replace(/index\.html$/,''), site_name:'yoursunny.com', twitter_id: 'yoursunny' }) %>
<%   page.content = content;
   } -%>
