<aside class="site-recent">
<h3>Recent</h3>
<ul class="site-list">
<% site.posts.sort('date', -1).limit(5).each(function(post){ -%>
<li><a href="<%- url_for(post.path) %>"><%= post.title || '(no title)' %></a></li>
<% }) %>
</ul>
</aside>
