<aside class="site-tags">
<h3>Tags</h3>
<ul class="site-labels">
<%
site.tags.sort('name').filter((tag) => tag.length >= 2).forEach((tag) => { -%>
<li><a href="<%- url_for(tag.path) %>"><%= tag.name %> <small><%= tag.length %></small></a></li>
<% }) %>
</ul>
</aside>
