<% page.posts.each(function(post){ %>
<%- partial('_partial/article', {post: post, index: true}, {cache: post.path + '#index'}) %>
<% }) %>

<% if (page.total > 1) { %>
<nav class="site-paginator pure-menu pure-menu-horizontal"><ul class="pure-menu-list">
<% if (page.prev) { -%>
<li class="pure-menu-item"><a href="<%= url_for(page.prev_link) %>" class="pure-menu-link">&#171; Newer Posts</a></li>
<% } -%>
<% if (page.prev && page.next) { -%>
<li class="pure-menu-heading">&#8212;</li>
<% } -%>
<% if (page.next) { -%>
<li class="pure-menu-item"><a href="<%= url_for(page.next_link) %>" class="pure-menu-link">Older Posts &#187;</a></li>
<% } -%>
</ul></nav>
<% } %>
