<%- partial('_partial/head') %>
<%- partial('_partial/header', {}, {cache: true}) %>
<div class="pure-g">
<div class="pure-u-1 pure-u-lg-5-6 pure-u-xl-3-4">
<%- body %>
</div>
<div class="site-sidebar pure-u-1 pure-u-lg-1-6 pure-u-xl-1-4">
<% if (is_post() && page.tags.length) { -%>
<%- partial('_partial/related', {post: page}) %>
<% } -%>
<%- partial('_partial/recent', {}, {cache: true}) %>
<%- partial('_partial/archives', {}, {cache: true}) %>
<%- partial('_partial/tags', {}, {cache: true}) %>
</div>
</div>
<%- partial('_partial/footer', {}, {cache: true}) %>
